#FName{
  border: solid 3px green;
  padding: 5px;
  margin: 5px;
  font-family: "Century Schoolbook L";
}
#LName{
  border: solid 3px green;
  padding: 5px;
  margin: 5px;
  font-family: "Century Schoolbook L";

}
#Email{
  border: solid 3px green;
  padding: 5px;
  margin: 5px;
  font-family: "Century Schoolbook L";
}
#DOB{
  border: solid 3px green;
  padding: 5px;
  margin: 5px;
  font-family: "Century Schoolbook L";
}
#pass{
  border: solid 3px green;
  padding: 5px;
  margin: 5px;
  font-family: "Century Schoolbook L";
}


