body{
  font-family: "Century Schoolbook L", sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 130vh ;
}
#form-container{
  background-color: fuchsia;
  padding: 20px;
  border-radius: 8px ;
  box-shadow: slategrey;
  width: 400px;
}
.form_group{
  margin-bottom: 15px;
}
label{
  display: inline-block;
  margin: 8px;
  font-weight: bold;
}
input[type="email"],
input[type="password"],
input[type="text"],
textarea,
  select{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
   border: 1px solid black;
  border-radius: 4px;
}
  textarea{
    height: 40px;
  }
  input[type="radio"],
 input[type="checkbox"]{
    margin-right: 5px;
  }

